@import '../../../styles'

div.goals

    padding: 2em

    div.goals__header
        width: 100%
        display: flex
        align-items: center

        h2
            color: $bg-secondary

        fa-icon
            margin: 0 1em
            color: $bg-secondary
