<form [formGroup]="goalForm" (clickOutside)="onClickedOutside($event)">
  <vita-card meta="{{ goal.createdOn | amTimeAgo }}">
    <div vita-card-header class="vita-goal__header">
      <input formControlName="titleControl" spellcheck="false" />
      <div class="vita-goal__options">
        <vita-goal-card-menu [id]="goal.id" (deleted)="handleOnDeleted($event)" (completed)="this.onUpdatedGoal()"></vita-goal-card-menu>
      </div>
    </div>
    <textarea vita-card-content formControlName="descriptionControl" spellcheck="false"></textarea>
    <div vita-card-footer class="vita-goal__footer">
      <vita-goal-status [goalStatus]="goal.status"></vita-goal-status>
      <vita-goal-card-aim-date [(aimDate)]="goal.aimDate"></vita-goal-card-aim-date>
    </div>    
  </vita-card>
</form>
