@import '../../../styles'

form
    height: 100%
    width: 100%

:host ::ng-deep 

    div.header__options
        display: block

    div.goal-card__footer
        font-size: 0.9em
        display: flex
        align-items: center
        justify-content: flex-end

        button[type=submit]
            display: none
            height: auto
            width: auto
            margin: 0
            padding: 0
            background: none

            > fa-icon
                color: $bg-primary
