<form [formGroup]="goalForm" (clickOutside)="onClickedOutside($event)">
  <vita-card meta="{{ goal.createdOn | prettyDate: 'yyyy-MM-dd' }}">
    <div vita-card-header class="main__header">
      <input formControlName="titleControl" spellcheck="false" />
      <div class="header__options">
        <vita-goal-card-menu [id]="goal.id" (deleted)="handleOnDeleted($event)"></vita-goal-card-menu>
      </div>
    </div>
    <textarea vita-card-content class="main__content" formControlName="descriptionControl" spellcheck="false"></textarea>
  </vita-card>
</form>
