@import '../../../styles'
    
div.goals__container-list
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    align-content: flex-start
    width: 100%
    height: 100%
    
    vita-goal-card, 
    vita-create-goal-card
        flex-basis: auto
        flex-grow: 1
        margin: 1em 0.75em 0em 0.75em
        min-width: 21em
        max-width: 30em
        min-height: 10.5em