<div class="card">
  <div class="card__main">
    <div class="main__header">
      <ng-content select="[vita-card-header]"></ng-content>
      <input *ngIf="header" [value]="header" />
    </div>
    <div class="main__meta">
      <ng-content select="[vita-card-meta]"></ng-content>
      <ng-container *ngIf="meta">{{ meta }}</ng-container>
    </div>
    <div class="main__content">
      <ng-content select="[vita-card-content]"></ng-content>
      <textarea *ngIf="content" [value]="content"></textarea>
    </div>
  </div>
  <div class="card__footer">
    <ng-content select="[vita-card-footer]"></ng-content>
    <input *ngIf="footer" [value]="footer" />
  </div>
</div>
