@import '../../../styles'

li.menu__option
    display: flex
    flex-wrap: nowrap
    flex-direction: row
    color: $font-primary
    padding: 0.3em 1.25em
    min-width: 7em
    cursor: pointer

    p
        margin-left: 0.5em
        font-size: 0.9em
        white-space: nowrap

        &:hover
            border-radius: 0.2em
            background-color: $font-secondary
