<div class="media text-muted pt-2">
    <div class="d-flex media-body align-items-center pb-2 mb-0 lh-100 border-bottom border-gray bd-highlight">
        <fa-icon [icon]="categoryListIcon" class="far fa-1x" [style.color]="category.color"></fa-icon>
        <span class="p-2 w-100 bd-highlight">{{category.name}}</span>
        <!-- <span class="badge badge-primary badge-pill" [style.background-color]="category.color">14</span> -->
        <!-- <span class="p-2 flex-shrink-1 bd-highlight">...</span> -->
      </div>
</div>